@page "/location_settings"
@using MySqlConnector;
@using System.Data.Common;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Microsoft.AspNetCore.DataProtection
@using System.Text.Json

@inject NavigationManager NavigationManager
@inject ILocalStorageService localStorage
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime
@inject IDataProtectionProvider DataProtectionProvider

<AuthorizeView>
    <NotAuthorized>
        @{
            NavigationManager.NavigateTo("/");
        }
    </NotAuthorized>

    <Authorized>
        @{
            if (permissions_tenants_enabled && permissions_tenants_manage && permissions_tenants_locations_manage)
            {
                <MudText Class="pa-0 ma-0 mt-5" Typo="Typo.h4">Standort verwalten (@location_name)</MudText>

                <MudButton Class="mt-5 mr-2" Size="Size.Small" Variant="Variant.Filled" Color="Color.Default" StartIcon="@Icons.Material.Filled.ArrowBack" Href="/tenant_settings">Zurück</MudButton>

                if (permissions_tenants_groups_add)
                {
                    <MudButton Class="mt-5 mr-2" Size="Size.Small" Variant="Variant.Filled" Color="Color.Default" StartIcon="@Icons.Material.Filled.GroupAdd" OnClick="@Show_Add_Group_Dialog">Gruppe Hinzufügen</MudButton>
                }
                
                if (permissions_tenants_locations_edit)
                {
                    <MudButton Class="mt-5 mr-2" Size="Size.Small" Variant="Variant.Filled" OnClick="@Show_Edit_Location_Dialog" Color="Color.Default" StartIcon="@Icons.Material.Filled.Edit">Bearbeiten</MudButton>
                }
               
                if (permissions_tenants_locations_delete)
                {
                    <MudButton Class="mt-5" Size="Size.Small" Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete" OnClick="@Show_Delete_Location_Dialog">Löschen</MudButton>
                }
                
                <MudPaper Class="pa-0 ma- mt-5">

                    <MudText Class="pa-2" Typo="Typo.h5" Align="Align.Left">Gruppen</MudText>

                    <MudTable Height="59vh" FixedHeader="true" FixedFooter="true" Hover="true" RowsPerPage="25" Dense="true" Items="@groups_mysql_data" Filter="new Func<Groups_Entity, bool>(Tenants_Notifications_Table_Filter_Func)">
                        <ToolBarContent>
                            <MudTextField @bind-Value="tenants_table_search_string" Placeholder="Suche" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh Sortable="true" @onclick="() => tenants_table_sorted_column = (nameof(Groups_Entity.group_name))" style="white-space: nowrap;">Name</MudTh>
                            <MudTh Sortable="true" @onclick="() => tenants_table_sorted_column = (nameof(Groups_Entity.date))" style="white-space: nowrap;">Erstellt</MudTh>
                            <MudTh Sortable="true" @onclick="() => tenants_table_sorted_column = (nameof(Groups_Entity.author))" style="white-space: nowrap;">Author</MudTh>
                            <MudTh Sortable="true" @onclick="() => tenants_table_sorted_column = (nameof(Groups_Entity.description))" style="white-space: nowrap;">Beschreibung</MudTh>
                            <MudTh></MudTh>
                        </HeaderContent>
                        <RowTemplate Context="groups_row">

                            <MudTd DataLabel="Name" @onclick="() => Tenants_Notifications_RowClickHandler(groups_row)" class="@Tenants_Notifications_GetRowClass(groups_row)" style="white-space: nowrap;">
                                <span style="display: flex; align-items: center;">
                                    <MudIcon Icon="@Icons.Material.Filled.GroupAdd" Size="Size.Small" />&nbsp;@groups_row.group_name
                                </span>
                            </MudTd>

                            <MudTd DataLabel="Erstellt" @onclick="() => Tenants_Notifications_RowClickHandler(groups_row)" class="@Tenants_Notifications_GetRowClass(groups_row)" style="white-space: nowrap;">
                                <span style="display: flex; align-items: center;">
                                    <MudIcon Icon="@Icons.Material.Filled.DateRange" Size="Size.Small" />&nbsp;@groups_row.date
                                </span>
                            </MudTd>

                            <MudTd DataLabel="Author" @onclick="() => Tenants_Notifications_RowClickHandler(groups_row)" class="@Tenants_Notifications_GetRowClass(groups_row)" style="white-space: nowrap;">
                                <span style="display: flex; align-items: center;">
                                    <MudIcon Icon="@Icons.Material.Filled.SupportAgent" Size="Size.Small" />&nbsp;@groups_row.author
                                </span>
                            </MudTd>

                            <MudTd DataLabel="Beschreibung" @onclick="() => Tenants_Notifications_RowClickHandler(groups_row)" class="@Tenants_Notifications_GetRowClass(groups_row)" style="white-space: nowrap;">
                                <span style="display: flex; align-items: center;">
                                    <MudIcon Icon="@Icons.Material.Filled.Description" Size="Size.Small" />&nbsp;@groups_row.description
                                </span>
                            </MudTd>

                            <MudTd DataLabel="Author" @onclick="() => Tenants_Notifications_RowClickHandler(groups_row)" class="@Tenants_Notifications_GetRowClass(groups_row)" style="white-space: nowrap;">
                                <span style="display: flex; align-items: center;">
                                    @{
                                        if (permissions_tenants_groups_edit)
                                        {
                                            <MudButton Size="Size.Small" Class="mr-2" Variant="Variant.Filled" OnClick="@(() => Show_Edit_Group_Dialog(groups_row.group_name))" Color="Color.Default" StartIcon="@Icons.Material.Filled.Edit">Umbenennen </MudButton>
                                        }

                                        if (permissions_tenants_groups_delete)
                                        {
                                            <MudButton Size="Size.Small" Variant="Variant.Filled" OnClick="@(() => Show_Delete_Group_Dialog(groups_row.group_name))" Color="Color.Error" StartIcon="@Icons.Material.Filled.Recycling">Löschen</MudButton>
                                        }
                                    }
                                </span>
                            </MudTd>
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100, 250, 500, int.MaxValue }" RowsPerPageString="Connectoren pro Seite" />
                        </PagerContent>
                    </MudTable>

                </MudPaper>
            }
        }

        </Authorized>
    </AuthorizeView>

    <style>
        .dialog-blurring {
            backdrop-filter: blur(10px);
        }
    </style>

@code {

    #region Permissions System

    private string permissions_json = String.Empty;
    private string permissions_tenants_json = String.Empty;
    public static List<string> permissions_tenants_list = new List<string> { };

    private bool permissions_tenants_enabled = false;
    private bool permissions_tenants_manage = false;
    private bool permissions_tenants_locations_manage = false;
    private bool permissions_tenants_locations_edit = false;
    private bool permissions_tenants_locations_delete = false;
    private bool permissions_tenants_groups_add = false;
    private bool permissions_tenants_groups_edit = false;
    private bool permissions_tenants_groups_delete = false;

    public class Permissions_Tenants_Activation_State
    {
        public string name { get; set; } = String.Empty;
    }

    private async Task Get_Permissions()
    {
        //Extract user info from users session storage
        var sessionStorage = new ProtectedSessionStorage(JSRuntime, DataProtectionProvider);
        var username = await sessionStorage.GetAsync<string>("username");
        var password = await sessionStorage.GetAsync<string>("password");

        Logging.Handler.Debug("/location_settings -> Permissions_Load", "username", username.Value ?? String.Empty);

        //if user info empty, force logout
        if (String.IsNullOrEmpty(username.Value) || String.IsNullOrEmpty(password.Value))
        {
            Logging.Handler.Debug("/location_settings -> Permissions_Load", "sessions storage data", "empty, force logout");

            NavigationManager.NavigateTo("/logout", true);
            return;
        }

        //Check if user info is valid, if not, force logout
        if (!await Classes.Authentication.User.Verify_User(username.Value ?? String.Empty, password.Value ?? String.Empty))
        {
            Logging.Handler.Debug("/location_settings -> Permissions_Load", "verify user", "incorrect data, force logout");

            NavigationManager.NavigateTo("/logout", true);
            return;
        }

        //Get permissions
        string query = "SELECT * FROM `accounts` WHERE username = @username;";

        MySqlConnection conn = new MySqlConnection(Application_Settings.connectionString);

        try
        {
            await conn.OpenAsync();

            MySqlCommand command = new MySqlCommand(query, conn);
            command.Parameters.AddWithValue("@username", username.Value);

            Logging.Handler.Debug("/location_settings -> Permissions_Load", "query", query);

            using (DbDataReader reader = await command.ExecuteReaderAsync())
            {
                if (reader.HasRows)
                {
                    while (await reader.ReadAsync())
                    {
                        permissions_json = reader["permissions"].ToString() ?? String.Empty;
                        permissions_tenants_json = reader["tenants"].ToString() ?? String.Empty;
                    }
                }
            }

            Logging.Handler.Debug("/location_settings -> Permissions_Load", "permissions_json", permissions_json);

            //Extract permissions
            if (!String.IsNullOrEmpty(permissions_json))
            {
                using (JsonDocument document = JsonDocument.Parse(permissions_json))
                {
                    //tenants_enabled
                    try
                    {
                        JsonElement element = document.RootElement.GetProperty("tenants_enabled");
                        permissions_tenants_enabled = element.GetBoolean();
                    }
                    catch (Exception ex)
                    {
                        Logging.Handler.Error("/location_settings -> Permissions_Load", "permissions_json (permissions_tenants_enabled)", ex.Message);
                    }

                    //tenants_manage
                    try
                    {
                        JsonElement element = document.RootElement.GetProperty("tenants_manage");
                        permissions_tenants_manage = element.GetBoolean();
                    }
                    catch (Exception ex)
                    {
                        Logging.Handler.Error("/location_settings -> Permissions_Load", "permissions_json (permissions_tenants_manage)", ex.Message);
                    }

                    //tenants_locations_manage
                    try
                    {
                        JsonElement element = document.RootElement.GetProperty("tenants_locations_manage");
                        permissions_tenants_locations_manage = element.GetBoolean();
                    }
                    catch (Exception ex)
                    {
                        Logging.Handler.Error("/location_settings -> Permissions_Load", "permissions_json (tenants_locations_manage)", ex.Message);
                    }

                    //tenants_locations_edit
                    try
                    {
                        JsonElement element = document.RootElement.GetProperty("tenants_locations_edit");
                        permissions_tenants_locations_edit = element.GetBoolean();
                    }
                    catch (Exception ex)
                    {
                        Logging.Handler.Error("/location_settings -> Permissions_Load", "permissions_json (tenants_locations_edit)", ex.Message);
                    }

                    //tenants_locations_delete
                    try
                    {
                        JsonElement element = document.RootElement.GetProperty("tenants_locations_delete");
                        permissions_tenants_locations_delete = element.GetBoolean();
                    }
                    catch (Exception ex)
                    {
                        Logging.Handler.Error("/location_settings -> Permissions_Load", "permissions_json (tenants_locations_delete)", ex.Message);
                    }

                    //tenants_groups_add
                    try
                    {
                        JsonElement element = document.RootElement.GetProperty("tenants_groups_add");
                        permissions_tenants_groups_add = element.GetBoolean();
                    }
                    catch (Exception ex)
                    {
                        Logging.Handler.Error("/location_settings -> Permissions_Load", "permissions_json (permissions_tenants_groups_add)", ex.Message);
                    }

                    //tenants_groups_edit
                    try
                    {
                        JsonElement element = document.RootElement.GetProperty("tenants_groups_edit");
                        permissions_tenants_groups_edit = element.GetBoolean();
                    }
                    catch (Exception ex)
                    {
                        Logging.Handler.Error("/location_settings -> Permissions_Load", "permissions_json (permissions_tenants_groups_edit)", ex.Message);
                    }

                    //tenants_groups_delete
                    try
                    {
                        JsonElement element = document.RootElement.GetProperty("tenants_groups_delete");
                        permissions_tenants_groups_delete = element.GetBoolean();
                    }
                    catch (Exception ex)
                    {
                        Logging.Handler.Error("/location_settings -> Permissions_Load", "permissions_json (permissions_tenants_groups_delete)", ex.Message);
                    }
                }
            }
            else if (permissions_json == "[]")
            {
                Logging.Handler.Debug("/location_settings -> Permissions_Load", "permissions_json", "Empty, logout user");
                NavigationManager.NavigateTo("/logout", true);
            }
            else
            {
                Logging.Handler.Debug("/location_settings -> Permissions_Load", "permissions_json", "Empty, logout user");
                NavigationManager.NavigateTo("/logout", true);
            }

            //Extract tenants from json
            permissions_tenants_list.Clear();
            if (!String.IsNullOrEmpty(permissions_tenants_json))
            {
                //Set the activation state for the tenants
                try
                {
                    List<Permissions_Tenants_Activation_State> tenants_activation_state_list = JsonSerializer.Deserialize<List<Permissions_Tenants_Activation_State>>(permissions_tenants_json);

                    foreach (var tenant in tenants_activation_state_list)
                    {
                        Logging.Handler.Debug("/location_settings -> Permissions_Load", "foreach tenant", tenant.name);

                        permissions_tenants_list.Add(tenant.name);
                    }
                }
                catch (Exception ex)
                {
                    Logging.Handler.Error("/location_settings -> Permissions_Load (permissions_tenants_json deserialize)", "Result", ex.Message);
                }
            }
            else
            {
                Logging.Handler.Debug("/location_settings -> Permissions_Load (permissions_tenants_json deserialize)", "Result", "Empty");
            }
        }
        catch (Exception ex)
        {
            Logging.Handler.Error("/location_settings -> Permissions_Load", "general_error (force logout)", ex.Message);
            NavigationManager.NavigateTo("/logout", true);
        }
        finally
        {
            conn.Close();
        }
    }

    #endregion

    protected override async void OnInitialized()
    {
        tenant_name = await localStorage.GetItemAsync<string>("tenant_name");
        location_name = await localStorage.GetItemAsync<string>("location_name");

        await Get_Permissions();

        //Check permissions
        if (!permissions_tenants_enabled || !permissions_tenants_manage || !permissions_tenants_locations_manage || !permissions_tenants_list.Contains(tenant_name))
        {
            NavigationManager.NavigateTo("/logout", true);
            return;
        }
            
        await Get_Groups_Overview();

        StateHasChanged();
    }

    private string tenant_name = String.Empty;
    private string location_name = String.Empty;

    public class Groups_Entity
    {
        public string group_name { get; set; } = "Empty";
        public string date { get; set; } = "Empty";
        public string author { get; set; } = "Empty";
        public string description { get; set; } = "Empty";
    }

    public List<Groups_Entity> groups_mysql_data;

    private string tenants_table_view_port = "70vh";
    private string tenants_table_sorted_column;
    private string tenants_table_search_string = "";

    private bool Tenants_Notifications_Table_Filter_Func(Groups_Entity row)
    {
        if (string.IsNullOrEmpty(tenants_table_search_string))
            return true;

        //Search logic for each column
        return row.group_name.Contains(tenants_table_search_string, StringComparison.OrdinalIgnoreCase) ||
               row.date.Contains(tenants_table_search_string, StringComparison.OrdinalIgnoreCase) ||
               row.author.Contains(tenants_table_search_string, StringComparison.OrdinalIgnoreCase) ||
               row.description.Contains(tenants_table_search_string, StringComparison.OrdinalIgnoreCase);
    }

    private string telegram_notifications_selectedRowContent = ""; // Hier wird der Inhalt der ausgewählten Zeile gespeichert

    // Der Handler für den TableRowClick-Event
    private void Tenants_Notifications_RowClickHandler(Groups_Entity row)
    {
        telegram_notifications_selectedRowContent = row.group_name;
    }

    private string Tenants_Notifications_GetRowClass(Groups_Entity row)
    {
        return row.group_name == telegram_notifications_selectedRowContent ? "selected-row" : "";
    }

    private async Task Show_Add_Group_Dialog()
    {
        var options = new DialogOptions
            {
                DisableBackdropClick = false,
                MaxWidth = MaxWidth.Small,
                ClassBackground = "dialog-blurring",

            };

        await this.DialogService.Show<Group_Management.Add_Group_Dialog>(string.Empty, new DialogParameters(), options).Result;
    }

    private async Task Show_Delete_Group_Dialog(string group_name)
    {
        await localStorage.SetItemAsync("group_name", group_name);

        var options = new DialogOptions
            {
                DisableBackdropClick = false,
                MaxWidth = MaxWidth.Small,
                ClassBackground = "dialog-blurring",

            };

        await this.DialogService.Show<Group_Management.Delete_Group_Dialog>(string.Empty, new DialogParameters(), options).Result;
    }

    private async Task Show_Edit_Group_Dialog(string group_name)
    {
        await localStorage.SetItemAsync("group_name", group_name);

        var options = new DialogOptions
            {
                DisableBackdropClick = false,
                MaxWidth = MaxWidth.Small,
                ClassBackground = "dialog-blurring",

            };

        await this.DialogService.Show<Group_Management.Edit_Group_Dialog>(string.Empty, new DialogParameters(), options).Result;
    }

    private async Task Show_Delete_Location_Dialog()
    {
        var options = new DialogOptions
            {
                DisableBackdropClick = false,
                MaxWidth = MaxWidth.Small,
                ClassBackground = "dialog-blurring",

            };

        await this.DialogService.Show<Delete_Location_Dialog>(string.Empty, new DialogParameters(), options).Result;
    }

    private async Task Show_Edit_Location_Dialog()
    {
        await localStorage.SetItemAsync("location_name", location_name);

        var options = new DialogOptions
            {
                DisableBackdropClick = false,
                MaxWidth = MaxWidth.Small,
                ClassBackground = "dialog-blurring",

            };

        await this.DialogService.Show<Location_Management.Edit_Location_Dialog>(string.Empty, new DialogParameters(), options).Result;
    }

    private async Task Get_Groups_Overview()
    {
        groups_mysql_data = new List<Groups_Entity>();

        string query = "SELECT * FROM `groups` WHERE location_name = @location_name AND tenant_name = @tenant_name;";

        MySqlConnection conn = new MySqlConnection(Application_Settings.connectionString);

        try
        {
            await conn.OpenAsync();

            MySqlCommand command = new MySqlCommand(query, conn);
            command = new MySqlCommand(query, conn);
            command.Parameters.AddWithValue("@tenant_name", tenant_name);
            command.Parameters.AddWithValue("@location_name", location_name);

            using (DbDataReader reader = await command.ExecuteReaderAsync())
            {
                if (reader.HasRows)
                {
                    while (await reader.ReadAsync())
                    {
                        Groups_Entity entity = new Groups_Entity
                            {
                                group_name = reader["name"].ToString() ?? String.Empty,
                                date = reader["date"].ToString() ?? String.Empty,
                                author = reader["author"].ToString() ?? String.Empty,
                                description = reader["description"].ToString() ?? String.Empty,
                            };

                        groups_mysql_data.Add(entity);
                    }
                }
            }

        }
        catch (Exception ex)
        {
            Logging.Handler.Error("class", "Get_Groups_Overview", ex.Message);
        }
        finally
        {
            conn.Close();
        }
    }
}
