@page "/unauthorized_devices"
@using MySqlConnector;
@using System.Data.Common;
@using System.Text.Json;
@using OfficeOpenXml;
@using System.Xml.Serialization;
@using System.Text;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Microsoft.AspNetCore.DataProtection

@inject NavigationManager NavigationManager
@inject ILocalStorageService localStorage
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime
@inject IDataProtectionProvider DataProtectionProvider

<AuthorizeView>
    <NotAuthorized>
        @{
            NavigationManager.NavigateTo("/");
        }
    </NotAuthorized>

    <Authorized>

        @if(permissions_devices_unauthorized_enabled)
        {
            <MudText Class="mt-5" Typo="Typo.h5">Unautorisierte Geräte</MudText>

            <MudTooltip Text="Aktualisieren">
                <MudIconButton Class="ml-2 mt-2" Icon="@Icons.Material.Filled.Refresh" Variant="Variant.Filled" Size="Size.Small" Color="Color.Default" @onclick="async () => { await InitializeComponentAsync(); }"></MudIconButton>
            </MudTooltip>

            <MudTooltip Text="Daten exportieren">
                <MudIconButton Class="ml-2 mt-2" Icon="@Icons.Material.Filled.FileDownload" Variant="Variant.Filled" Size="Size.Small" Color="Color.Default" @onclick="Trigger_Export_Device_Table_Dialog"></MudIconButton>
            </MudTooltip>

            <MudTable Class="mt-5" Height="70vh" FixedHeader="true" FixedFooter="true" Hover="true" RowsPerPage="25" Dense="true" Items="@mysql_data" Filter="new Func<MySQL_Entity, bool>(Device_Table_Filter_Func)">
                <ToolBarContent>
                    <MudTextField @bind-Value="device_table_search_string" Placeholder="Suche" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                </ToolBarContent>
                <HeaderContent>
                    <MudTh Sortable="true" @onclick="() => sorted_column = (nameof(MySQL_Entity.device_name))" style="white-space: nowrap;">Name</MudTh>
                    <MudTh Sortable="true" @onclick="() => sorted_column = (nameof(MySQL_Entity.tenant_name))" style="white-space: nowrap;">Mandant</MudTh>
                    <MudTh Sortable="true" @onclick="() => sorted_column = (nameof(MySQL_Entity.location_name))" style="white-space: nowrap;">Standort</MudTh>
                    <MudTh Sortable="true" @onclick="() => sorted_column = (nameof(MySQL_Entity.group_name))" style="white-space: nowrap;">Gruppe</MudTh>
                    <MudTh Sortable="true" @onclick="() => sorted_column = (nameof(MySQL_Entity.agent_version))" style="white-space: nowrap;">Agenten Version</MudTh>
                    <MudTh Sortable="true" @onclick="() => sorted_column = (nameof(MySQL_Entity.last_access))" style="white-space: nowrap;">Letzter Kontakt</MudTh>
                    <MudTh Sortable="true" @onclick="() => sorted_column = (nameof(MySQL_Entity.ip_address))" style="white-space: nowrap;">IP-Addresse</MudTh>
                    <MudTh Sortable="true" @onclick="() => sorted_column = (nameof(MySQL_Entity.operating_system))" style="white-space: nowrap;">Betriebssystem</MudTh>
                    <MudTh Sortable="true" @onclick="() => sorted_column = (nameof(MySQL_Entity.domain))" style="white-space: nowrap;">Domäne</MudTh>
                    <MudTh Sortable="true" @onclick="() => sorted_column = (nameof(MySQL_Entity.antivirus_solution))" style="white-space: nowrap;">Antivirus Lösung</MudTh>
                    <MudTh></MudTh>
                </HeaderContent>
                <RowTemplate Context="row">

                    <MudTd DataLabel="Name" @onclick="() => RowClickHandler(row)" class="@GetRowClass(row)" style="white-space: nowrap;">
                        <span style="display: flex; align-items: center;">
                            <MudIcon Icon="@Icons.Material.Filled.Computer" Size="Size.Small" />&nbsp;@row.device_name
                        </span>
                    </MudTd>

                    <MudTd DataLabel="Mandant" @onclick="() => RowClickHandler(row)" class="@GetRowClass(row)" style="white-space: nowrap;">
                        <span style="display: flex; align-items: center;">
                            <MudIcon Icon="@Icons.Material.Filled.Business" Size="Size.Small" />&nbsp;@row.tenant_name
                        </span>
                    </MudTd>

                    <MudTd DataLabel="Standort" @onclick="() => RowClickHandler(row)" class="@GetRowClass(row)" style="white-space: nowrap;">
                        <span style="display: flex; align-items: center;">
                            <MudIcon Icon="@Icons.Material.Filled.LocationCity" Size="Size.Small" class="desktop-icon" />&nbsp;@row.location_name
                        </span>
                    </MudTd>

                    <MudTd DataLabel="Gruppe" @onclick="() => RowClickHandler(row)" class="@GetRowClass(row)" style="white-space: nowrap;">
                        <span style="display: flex; align-items: center;">
                            <MudIcon Icon="@Icons.Material.Filled.Group" Size="Size.Small" />&nbsp;@row.group_name
                        </span>
                    </MudTd>

                    <MudTd DataLabel="Agenten Version" @onclick="() => RowClickHandler(row)" class="@GetRowClass(row)" style="white-space: nowrap;">
                        <span style="display: flex; align-items: center;">
                            <MudIcon Icon="@Icons.Material.Filled.Update" Size="Size.Small" />&nbsp;@row.agent_version
                        </span>
                    </MudTd>

                    <MudTd DataLabel="Letzter Zugriff" @onclick="() => RowClickHandler(row)" class="@GetRowClass(row)" style="white-space: nowrap;">
                        <span style="display: flex; align-items: center;">
                            <MudIcon Icon="@Icons.Material.Filled.AccessTime" Size="Size.Small" />&nbsp;@row.last_access
                        </span>
                    </MudTd>

                    <MudTd DataLabel="IP-Adresse" @onclick="() => RowClickHandler(row)" class="@GetRowClass(row)" style="white-space: nowrap;">
                        <span style="display: flex; align-items: center;">
                            <MudIcon Icon="@Icons.Material.Filled.NetworkWifi1Bar" Size="Size.Small" />&nbsp;@row.ip_address
                        </span>
                    </MudTd>

                    <MudTd DataLabel="Betriebssystem" @onclick="() => RowClickHandler(row)" class="@GetRowClass(row)" style="white-space: nowrap;">
                        <span style="display: flex; align-items: center;">
                            <MudIcon Icon="@Icons.Material.Filled.PermDeviceInformation" Size="Size.Small" />&nbsp;@row.operating_system
                        </span>
                    </MudTd>

                    <MudTd DataLabel="Domäne" @onclick="() => RowClickHandler(row)" class="@GetRowClass(row)" style="white-space: nowrap;">
                        <span style="display: flex; align-items: center;">
                            <MudIcon Icon="@Icons.Material.Filled.Domain" Size="Size.Small" />&nbsp;@row.domain
                        </span>
                    </MudTd>

                    <MudTd DataLabel="Antivirus Lösung" @onclick="() => RowClickHandler(row)" class="@GetRowClass(row)" style="white-space: nowrap;">
                        <span style="display: flex; align-items: center;">
                            <MudIcon Icon="@Icons.Material.Filled.Coronavirus" Size="Size.Small" />&nbsp;@row.antivirus_solution
                        </span>
                    </MudTd>

                    <MudTd DataLabel="Antivirus Lösung" @onclick="() => RowClickHandler(row)" class="@GetRowClass(row)" style="white-space: nowrap;">
                        <span style="display: flex; align-items: center;">

                            @if (permissions_devices_unauthorized_authorize)
                            {
                                <MudButton Size="Size.Small" Variant="@Variant.Filled" Color="@Color.Default" OnClick="@(() => Authorize_Device(row.tenant_name, row.location_name, row.device_name))">Autorisation erteilen</MudButton>
                            }
                        </span>
                    </MudTd>


                </RowTemplate>
                <PagerContent>
                    <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100, 250, 500, int.MaxValue }" RowsPerPageString="Geräte pro Seite" />
                </PagerContent>
            </MudTable>
        }

        </Authorized>
    </AuthorizeView>

@code {

    #region Permissions System

    private string permissions_json = String.Empty;
    private string permissions_tenants_json = String.Empty;
    public static List<string> permissions_tenants_list = new List<string> { };

    private bool permissions_devices_unauthorized_enabled = false;
    private bool permissions_devices_unauthorized_authorize = false;

    public class Permissions_Tenants_Activation_State
    {
        public string name { get; set; } = String.Empty;
    }

    private async Task Get_Permissions()
    {
        //Extract user info from users session storage
        var sessionStorage = new ProtectedSessionStorage(JSRuntime, DataProtectionProvider);
        var username = await sessionStorage.GetAsync<string>("username");
        var password = await sessionStorage.GetAsync<string>("password");

        Logging.Handler.Debug("/unauthorized_devices -> Permissions_Load", "username", username.Value ?? String.Empty);

        //if user info empty, force logout
        if (String.IsNullOrEmpty(username.Value) || String.IsNullOrEmpty(password.Value))
        {
            Logging.Handler.Debug("/unauthorized_devices -> Permissions_Load", "sessions storage data", "empty, force logout");

            NavigationManager.NavigateTo("/logout", true);
            return;
        }

        //Check if user info is valid, if not, force logout
        if (!Classes.Authentication.User.Login_User(username.Value ?? String.Empty, password.Value ?? String.Empty))
        {
            Logging.Handler.Debug("/unauthorized_devices -> Permissions_Load", "verify user", "incorrect data, force logout");

            NavigationManager.NavigateTo("/logout", true);
            return;
        }

        //Get permissions
        string query = "SELECT * FROM `accounts` WHERE username = @username;";

        MySqlConnection conn = new MySqlConnection(Application_Settings.connectionString);

        try
        {
            await conn.OpenAsync();

            MySqlCommand command = new MySqlCommand(query, conn);
            command.Parameters.AddWithValue("@username", username.Value);

            Logging.Handler.Debug("/unauthorized_devices -> Permissions_Load", "query", query);

            using (DbDataReader reader = await command.ExecuteReaderAsync())
            {
                if (reader.HasRows)
                {
                    while (await reader.ReadAsync())
                    {
                        permissions_json = reader["permissions"].ToString() ?? String.Empty;
                        permissions_tenants_json = reader["tenants"].ToString() ?? String.Empty;
                    }
                }
            }

            Logging.Handler.Debug("/unauthorized_devices -> Permissions_Load", "permissions_json", permissions_json);

            //Extract permissions
            if (!String.IsNullOrEmpty(permissions_json))
            {
                using (JsonDocument document = JsonDocument.Parse(permissions_json))
                {
                    //devices_unauthorized_enabled
                    try
                    {
                        JsonElement element = document.RootElement.GetProperty("devices_unauthorized_enabled");
                        permissions_devices_unauthorized_enabled = element.GetBoolean();
                    }
                    catch (Exception ex)
                    {
                        Logging.Handler.Error("/unauthorized_devices -> Permissions_Load", "permissions_json (devices_unauthorized_enabled)", ex.Message);
                    }

                    //devices_unauthorized_authorize
                    try
                    {
                        JsonElement element = document.RootElement.GetProperty("devices_unauthorized_authorize");
                        permissions_devices_unauthorized_authorize = element.GetBoolean();
                    }
                    catch (Exception ex)
                    {
                        Logging.Handler.Error("/unauthorized_devices -> Permissions_Load", "permissions_json (devices_unauthorized_authorize)", ex.Message);
                    }
                }
            }
            else if (permissions_json == "[]")
            {
                Logging.Handler.Debug("/unauthorized_devices -> Permissions_Load", "permissions_json", "Empty, logout user");
                NavigationManager.NavigateTo("/logout", true);
            }
            else
            {
                Logging.Handler.Debug("/unauthorized_devices -> Permissions_Load", "permissions_json", "Empty, logout user");
                NavigationManager.NavigateTo("/logout", true);
            }

            //Extract tenants from json
            permissions_tenants_list.Clear();
            if (!String.IsNullOrEmpty(permissions_tenants_json))
            {
                //Set the activation state for the tenants
                try
                {
                    List<Permissions_Tenants_Activation_State> tenants_activation_state_list = JsonSerializer.Deserialize<List<Permissions_Tenants_Activation_State>>(permissions_tenants_json);

                    foreach (var tenant in tenants_activation_state_list)
                    {
                        Logging.Handler.Debug("/unauthorized_devices -> Permissions_Load", "foreach tenant", tenant.name);

                        permissions_tenants_list.Add(tenant.name);
                    }
                }
                catch (Exception ex)
                {
                    Logging.Handler.Error("/unauthorized_devices -> Permissions_Load (permissions_tenants_json deserialize)", "Result", ex.Message);
                }
            }
            else
            {
                Logging.Handler.Debug("/unauthorized_devices -> Permissions_Load (permissions_tenants_json deserialize)", "Result", "Empty");
            }
        }
        catch (Exception ex)
        {
            Logging.Handler.Error("/unauthorized_devices -> Permissions_Load", "general_error (force logout)", ex.Message);
            NavigationManager.NavigateTo("/logout", true);
        }
        finally
        {
            conn.Close();
        }
    }

    #endregion

    protected override async Task OnInitializedAsync()
    {
        await Get_Permissions();
        //Check permissions
        if (!permissions_devices_unauthorized_enabled)
        {
            NavigationManager.NavigateTo("/logout", true);
            return;
        }

        await InitializeComponentAsync();
    }

    private string view_port = "70vh";
    private string sorted_column;
    private string device_table_search_string = "";

    private bool Device_Table_Filter_Func(MySQL_Entity row)
    {
        if (string.IsNullOrEmpty(device_table_search_string))
            return true;

        //Search logic for each column
        return row.device_name.Contains(device_table_search_string, StringComparison.OrdinalIgnoreCase) ||
               row.tenant_name.Contains(device_table_search_string, StringComparison.OrdinalIgnoreCase) ||
               row.location_name.Contains(device_table_search_string, StringComparison.OrdinalIgnoreCase) ||
               row.group_name.Contains(device_table_search_string, StringComparison.OrdinalIgnoreCase) ||
               row.agent_version.Contains(device_table_search_string, StringComparison.OrdinalIgnoreCase) ||
               row.last_access.Contains(device_table_search_string, StringComparison.OrdinalIgnoreCase) ||
               row.ip_address.Contains(device_table_search_string, StringComparison.OrdinalIgnoreCase) ||
               row.operating_system.Contains(device_table_search_string, StringComparison.OrdinalIgnoreCase) ||
               row.domain.Contains(device_table_search_string, StringComparison.OrdinalIgnoreCase) ||
               row.antivirus_solution.Contains(device_table_search_string, StringComparison.OrdinalIgnoreCase);
    }

    private string selectedRowContent = ""; // Hier wird der Inhalt der ausgewählten Zeile gespeichert

    // Der Handler für den TableRowClick-Event
    private void RowClickHandler(MySQL_Entity row)
    {
        view_port = "35vh";
        // Hier können Sie den Inhalt der ausgewählten Zeile verarbeiten
        selectedRowContent = row.device_name;

        Logging.Handler.Debug("", "", row.device_name);

        // Ändern Sie die Farbe der ausgewählten Zeile (optional)
        // Hier könnte Logik stehen, um die Farbe zu ändern, je nachdem, ob die Zeile ausgewählt ist oder nicht.
    }

    private string GetRowClass(MySQL_Entity row)
    {
        return row.device_name == selectedRowContent ? "selected-row" : "";
    }

    public class MySQL_Entity
    {
        public string device_name { get; set; } = "Empty";
        public string tenant_name { get; set; } = "Empty";
        public string location_name { get; set; } = "Empty";
        public string group_name { get; set; } = "Empty";
        public string agent_version { get; set; } = "Empty";
        public string last_access { get; set; } = "Empty";
        public string ip_address { get; set; } = "Empty";
        public string operating_system { get; set; } = "Empty";
        public string domain { get; set; } = "Empty";
        public string antivirus_solution { get; set; } = "Empty";
        public string architecture { get; set; } = "Empty";
        public string last_boot { get; set; } = "Empty";
        public string cpu { get; set; } = "Empty";
        public string mainboard { get; set; } = "Empty";
        public string gpu { get; set; } = "Empty";
        public string ram { get; set; } = "Empty";
        public string environment_variables { get; set; } = "Empty";
        public string network_adapters { get; set; } = "Empty";
        public string drives { get; set; } = "Empty";
        public string applications_installed { get; set; } = "Empty";
        public string applications_logon { get; set; } = "Empty";
        public string applications_scheduled_tasks { get; set; } = "Empty";
        public string applications_drivers { get; set; } = "Empty";
    }

    public List<MySQL_Entity> mysql_data = [];

    private async Task InitializeComponentAsync()
    {
        await Get_Clients_OverviewAsync();

        StateHasChanged();
    }

    private async Task<string> GetTenantNameAsync()
    {
        return await localStorage.GetItemAsync<string>("tenantName");
    }

    private async Task Get_Clients_OverviewAsync()
    {
        mysql_data = new List<MySQL_Entity>();

        string query = "SELECT * FROM devices WHERE authorized = '0';";

        Logging.Handler.Debug("/unauthorized_devices  -> Get_Clients_OverviewAsync", "MySQL_Query", query);

        MySqlConnection conn = new MySqlConnection(Application_Settings.connectionString);

        try
        {
            await conn.OpenAsync();

            MySqlCommand command = new MySqlCommand(query, conn);

            using (DbDataReader reader = await command.ExecuteReaderAsync())
            {
                if (reader.HasRows)
                {
                    while (await reader.ReadAsync())
                    {
                        MySQL_Entity entity = new MySQL_Entity
                        {
                            device_name = reader["device_name"].ToString() ?? "",
                            tenant_name = reader["tenant_name"].ToString() ?? "",
                            location_name = reader["location_name"].ToString() ?? "",
                            group_name = reader["group_name"].ToString() ?? "",
                            agent_version = reader["agent_version"].ToString() ?? "",
                            last_access = reader["last_access"].ToString() ?? "",
                            ip_address = reader["ip_address_internal"].ToString() + " & " + reader["ip_address_external"].ToString(),
                            operating_system = reader["operating_system"].ToString() ?? "",
                            domain = reader["domain"].ToString() ?? "",
                            antivirus_solution = reader["antivirus_solution"].ToString() ?? "",
                        };

                        mysql_data.Add(entity);
                    }
                }
            }
        }
        catch (Exception ex)
        {
            Logging.Handler.Error("/unauthorized_devices -> Get_Clients_OverviewAsync", "MySQL_Query", ex.Message);
        }
        finally
        {
            conn.Close();
        }
    }

    private async Task Authorize_Device(string tenant_name, string location_name, string device_name)
    {
        this.Snackbar.Configuration.ShowCloseIcon = true;
        this.Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomRight;

        MySqlConnection conn = new MySqlConnection(Application_Settings.connectionString);

        try
        {
            await conn.OpenAsync();

            string execute_query = "UPDATE devices SET authorized = '1' WHERE device_name = @device_name AND location_name = @location_name AND tenant_name = @tenant_name;";

            MySqlCommand cmd = new MySqlCommand(execute_query, conn);

            cmd.Parameters.AddWithValue("@tenant_name", tenant_name);
            cmd.Parameters.AddWithValue("@location_name", location_name);
            cmd.Parameters.AddWithValue("@device_name", device_name);

            cmd.ExecuteNonQuery();
            await conn.CloseAsync();

            await InitializeComponentAsync();

            this.Snackbar.Add("Autorisation erteilt.", Severity.Success);
        }
        catch (Exception ex)
        {
            Logging.Handler.Error("/unauthorized_devices -> Authorize_Device", "Result", ex.Message);
            this.Snackbar.Add("Autorisieren fehlgeschlagen.", Severity.Error);
        }      
    }

    private void Redirect(string path)
    {        
        NavigationManager.NavigateTo("/");
        NavigationManager.NavigateTo(path);
    }

    #region Data_Export
    private async Task Trigger_Export_Device_Table_Dialog()
    {
        var options = new DialogOptions
            {
                DisableBackdropClick = false,
                MaxWidth = MaxWidth.Small,
                ClassBackground = "dialog-blurring",

            };

        var result = await this.DialogService.Show<Device_Management.Export_Data_Dialog>(string.Empty, new DialogParameters(), options).Result;

        if (result != null && result.Data != null)
        {
            if (result.Data.ToString() == "JSON")
                await Export_Data_Json();
            else if (result.Data.ToString() == "Spreadsheet (.xlsx)")
                await Export_Data_Spreadsheet();
            else if (result.Data.ToString() == "XML")
                await Export_Data_XML();
            else if (result.Data.ToString() == "HTML")
                await Export_Data_HTML();
        }
    }

    private async Task Export_Data_Json()
    {
        try
        {
            // Erstellen eines JSON-Strings aus den MudTable-Einträgen
            string jsonContent = JsonSerializer.Serialize(mysql_data, new JsonSerializerOptions { WriteIndented = true });

            // Aufruf der JavaScript-Funktion für den Export als .txt
            await JSRuntime.InvokeVoidAsync("exportToTxt", "devices.json", jsonContent);
        }
        catch (Exception ex)
        {
            Logging.Handler.Error("System_Logs", "Export_Data_Json", ex.Message);
        }
    }

    public async Task Export_Data_XML()
    {
        try
        {
            if (mysql_data == null || mysql_data.Count == 0)
            {
                // Keine Daten zum Exportieren
                return;
            }

            var serializer = new XmlSerializer(typeof(List<MySQL_Entity>));

            using (var memoryStream = new MemoryStream())
            {
                // Konvertiere die Daten in das XML-Format
                serializer.Serialize(memoryStream, mysql_data);

                // Setze die Position des MemoryStream auf den Anfang
                memoryStream.Position = 0;

                // Lese den Inhalt des MemoryStream in einen String
                using (var streamReader = new StreamReader(memoryStream))
                {
                    string xmlContent = await streamReader.ReadToEndAsync();

                    // Hier wird JavaScript-Interop verwendet, um den XML-Inhalt herunterzuladen
                    await JSRuntime.InvokeVoidAsync("exportToTxt", "devices.xml", xmlContent, "text/xml");
                }
            }
        }
        catch (Exception ex)
        {
            Logging.Handler.Error("System_Logs", "Export_Data_XML", ex.Message);
        }
    }

    public async Task Export_Data_HTML()
    {
        try
        {
            if (mysql_data == null || mysql_data.Count == 0)
            {
                // Keine Daten zum Exportieren
                return;
            }

            StringBuilder htmlBuilder = new StringBuilder();
            htmlBuilder.Append("<table border='1'>");
            htmlBuilder.Append("<tr>");
            htmlBuilder.Append("<th>Gerät</th>");
            htmlBuilder.Append("<th>Mandant</th>");
            htmlBuilder.Append("<th>Standort</th>");
            htmlBuilder.Append("<th>Gruppe</th>");
            htmlBuilder.Append("<th>Agenten Version</th>");
            htmlBuilder.Append("<th>Letzter Kontakt</th>");
            htmlBuilder.Append("<th>IP-Addresse</th>");
            htmlBuilder.Append("<th>Betriebssystem</th>");
            htmlBuilder.Append("<th>Domäne</th>");
            htmlBuilder.Append("<th>Antivirus Lösung</th>");
            htmlBuilder.Append("</tr>");

            foreach (var entry in mysql_data)
            {
                htmlBuilder.Append("<tr>");
                htmlBuilder.Append($"<td>{entry.device_name}</td>");
                htmlBuilder.Append($"<td>{entry.tenant_name}</td>");
                htmlBuilder.Append($"<td>{entry.location_name}</td>");
                htmlBuilder.Append($"<td>{entry.group_name}</td>");
                htmlBuilder.Append($"<td>{entry.agent_version}</td>");
                htmlBuilder.Append($"<td>{entry.last_access}</td>");
                htmlBuilder.Append($"<td>{entry.ip_address}</td>");
                htmlBuilder.Append($"<td>{entry.operating_system}</td>");
                htmlBuilder.Append($"<td>{entry.domain}</td>");
                htmlBuilder.Append($"<td>{entry.antivirus_solution}</td>");
                htmlBuilder.Append("</tr>");
            }

            htmlBuilder.Append("</table>");

            string htmlContent = htmlBuilder.ToString();

            // Hier wird JavaScript-Interop verwendet, um den HTML-Inhalt herunterzuladen
            await JSRuntime.InvokeVoidAsync("exportToTxt", "devices.html", htmlContent, "text/html");
        }
        catch (Exception ex)
        {
            Logging.Handler.Error("System_Logs", "Export_Data_HTML", ex.Message);
        }
    }

    private async Task Export_Data_Spreadsheet()
    {
        try
        {
            using (var package = new ExcelPackage())
            {
                var worksheet = package.Workbook.Worksheets.Add("Sheet1");

                int headerRow = 1;
                worksheet.Cells[headerRow, 1].Value = "Gerät";
                worksheet.Cells[headerRow, 2].Value = "Mandant";
                worksheet.Cells[headerRow, 3].Value = "Standort";
                worksheet.Cells[headerRow, 4].Value = "Gruppe";
                worksheet.Cells[headerRow, 5].Value = "Agenten Version";
                worksheet.Cells[headerRow, 6].Value = "Letzter Kontakt";
                worksheet.Cells[headerRow, 7].Value = "IP-Addresse";
                worksheet.Cells[headerRow, 8].Value = "Betriebssystem";
                worksheet.Cells[headerRow, 9].Value = "Domäne";
                worksheet.Cells[headerRow, 10].Value = "Antivirus Lösung";

                int dataRow = headerRow + 1;
                foreach (var entry in mysql_data)
                {
                    worksheet.Cells[dataRow, 1].Value = entry.device_name;
                    worksheet.Cells[dataRow, 2].Value = entry.tenant_name;
                    worksheet.Cells[dataRow, 3].Value = entry.location_name;
                    worksheet.Cells[dataRow, 4].Value = entry.group_name;
                    worksheet.Cells[dataRow, 5].Value = entry.agent_version;
                    worksheet.Cells[dataRow, 6].Value = entry.last_access;
                    worksheet.Cells[dataRow, 7].Value = entry.ip_address;
                    worksheet.Cells[dataRow, 8].Value = entry.operating_system;
                    worksheet.Cells[dataRow, 9].Value = entry.domain;
                    worksheet.Cells[dataRow, 10].Value = entry.antivirus_solution;

                    dataRow++;
                }

                var stream = new MemoryStream(package.GetAsByteArray());

                // Hier wird JavaScript-Interop verwendet, um die Datei herunterzuladen
                await JSRuntime.InvokeVoidAsync("saveAsSpreadSheet", "devices.xlsx", Convert.ToBase64String(stream.ToArray()));
            }
        }
        catch (Exception ex)
        {
            Logging.Handler.Error("System_Logs", "Export_Data_Spreadsheet", ex.Message);
        }
    }
    #endregion
}
